<%- include("partials/header")  -%> 
<br>
<h1>Home</h1>
<hr>
<%  posts.forEach((content) =>{ %>
    <h2>
        <%= content.postTitle %>
    </h2>
    <p>
        <%= content.postBody %>
    </p>
    <br>
    <hr>
<% }); %>

<%- include("partials/footer")  -%> 